<div class="navbar navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">Wine Cellar Inventory</a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li class="divider-vertical"></li>
                    <li class="add-menu"><a href="#wines/add"><i class="icon-plus icon-white"></i> Add Wine</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
